body {
	font-size: 1.0rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
	height: 100vh;
}

.star {
	color: goldenrod;
	font-size: 1.8rem;
	position: relative;
}

.star {
	color: goldenrod;
	font-size: 2.3rem;
	position: relative;
	padding: 0.8rem 1rem;
}

.star::before {
	position: absolute;
	top: 20%;
	left: 20%;
	content: '\2606';
	cursor: pointer;
}

.star.rated::before {
	content: '\2605' !important;
}

.rating label {
	padding-left: 0.9rem;
	padding-top: 0.8rem;
	float: left;
}

.rating span {
	float: left;
}